<?php
!defined('IN_APP') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
?>
<h2>地区管理</h2>
<div class="row-fluid">
  <div class="span4">
    <?php render_view('area.col', array(
      'tableTitle' => '省级行政区',
      'data' => $GLOBALS['provinces'],
      'addTitle' => '添加省',
      'editTitle' => '编辑省',
      'dataTarget' => 'Province')); ?>
  </div>
  <div class="span4">
    <?php if (isset($GLOBALS['cities'])): ?>
      <?php render_view('area.col', array(
        'tableTitle' => '市县级行政区',
        'data' => $GLOBALS['cities'],
        'addTitle' => '添加市县',
        'editTitle' => '编辑市县',
        'dataTarget' => 'City',
        'parentName' => 'province')); ?>
    <?php endif ?>
  </div>
  <div class="span4">
    <?php if (isset($GLOBALS['districts'])): ?>
      <?php render_view('area.col', array(
        'tableTitle' => '区',
        'data' => $GLOBALS['districts'],
        'addTitle' => '添加区',
        'editTitle' => '编辑区',
        'dataTarget' => 'District',
        'parentName' => 'city')); ?>
    <?php endif ?>
  </div>
</div>
