<?php
!defined('IN_APP') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
$bigCategories = $GLOBALS['bigCategories'];
?>
<h1>分类管理 - 大类</h1>
<table class="table table-striped table-hover big-category-table">
  <thead>
    <tr>
      <th>#</th>
      <th>名称</th>
      <th class="count">子类别数目</th>
      <th class="count">子类型数目</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <?php $i = 0; ?>
    <?php foreach ($bigCategories as $id => $name): ?>
      <?php 
      $bigCategory = new BigCategory($id);
      $i++;
      ?>
      <tr data-id="<?= $id ?>">
        <td><?= $i ?></td>
        <td class="name"><?= $name ?></td>
        <td class="count">
          <a href="#"><?= $bigCategory->subCount(); ?></a>
        </td>
        <td class="count">
          <a href="#"><?= $bigCategory->typeCount(); ?></a>
        </td>
        <td>
          <a class="btn btn-primary btn-small edit-btn" href="#" >编辑</a>
          <a class="btn btn-danger btn-mini del-btn" href="#" data-target="BigCategory">删除</a>
        </td>
      </tr>
    <?php endforeach ?>
  </tbody>
</table>

<a href="#addBigC" role="button" class="btn" data-toggle="modal">添加大类</a>

<div id="addBigC" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">添加大类</h3>
  </div>
  <form action="<?= ROOT ?>cate" method="post" class="form-inline">
    <div class="modal-body">
        <input type="hidden" name="action" value="add">
        <input type="hidden" name="target" value="BigCategory">
        <fieldset>
          <label>名称：</label>
          <input type="text" name="name">
        </fieldset>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">确认</button>
    </div>
  </form>
</div>

<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">编辑大类</h3>
  </div>
  <form action="<?= ROOT ?>cate" method="post" class="form-inline">
    <div class="modal-body">
        <input type="hidden" name="action" value="edit">
        <input type="hidden" name="target" value="BigCategory">
        <input type="hidden" name="id" value="">
        <fieldset>
          <input type="text" name="name">
        </fieldset>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">确认</button>
    </div>
  </form>
</div>
