<?php
!defined('IN_APP') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
?>
<div class="row-fluid">
  <div class="hero-unit">
    <h1>CY-wiki</h1>
    <p></p>
    <p>CY-wiki is a open source wiki which only suport Markdown.</p>
    <p>C is for See, Y is for Why. Once we see the world, we ask why.</p>
    <p></p>
    <a href="https://github.com/picasso250/CY-wiki" target="_blank" class="btn btn-primary btn-large">View on GitHub</a>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h2>最近更新的词条</h2>
    <ul>
      <?php foreach ($recents as $entry): ?>
        <li>
          <a href="<?= ROOT . 'wiki/' . $entry->urlTitle() ?>"><?= htmlspecialchars($entry->title) ?></a>
        </li>
      <?php endforeach ?>
    </ul>
  </div>
  <div class="span6"></div>
</div>
