<?php
!defined('IN_APP') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
?>
<?php if ($category): ?>
  <h3>分类：<?php echo $category->name ?> </h3>
<?php endif ?>
<table class="table">
  <thead>
    <tr>
      <th>名称</th>
      <th>分类</th>
    </tr>
  </thead>
  <?php foreach ($entries as $entry): ?>
    <tr>
      <td>
        <a href="<?= ROOT . 'wiki/' . $entry->urlTitle() ?>"><?= htmlspecialchars($entry->latestVersion()->title) ?></a>
      </td>
      <td>
        <?php if ($entry->category): ?>
          <a href="?category=<?php echo $entry->category ?>"><?php echo $entry->category()->name ?></a>
        <?php else: ?>
          无分类
        <?php endif ?>
      </td>
    </tr>
  <?php endforeach ?>
</table>
