<?php
!defined('IN_APP') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
$c = $GLOBALS['controller'];
$t = $GLOBALS['target'];
?>
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <?php foreach ($GLOBALS['sideNav'] as $link => $info): ?>
      <li class="nav-header"><?= $info['title'] ?></li>
      <?php foreach ($info['sub'] as $entry): ?>
        <li class="<?= $c === $link && $t === $entry['link'] ? 'active' : '' ?>">
          <a href="<?= ROOT . $link  . '/' . $entry['link'] ?>"><?= $entry['name'] ?></a>
        </li>
      <?php endforeach ?>
    <?php endforeach ?>
  </ul>
</div><!--/.well -->
