<?php
!defined('IN_APP') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
$version = $entry->latestVersion();
?>
<div class="btn-group">
  <a href="<?= ROOT . "edit?id=$entry->id" ?>" class="btn">编辑</a>
  <a href="<?= ROOT . "diff?id=$entry->id" ?>" class="btn">Diff</a>
</div>

<h1 class="wiki-title"><?= $entry->title ?></h1>
<div class="wiki-content"><?= $version->toHtml() ?></div>
<div class="row-fluid">
  <div class="span8"></div>
  <div class="span4">
    最后编辑者：
    <span class=""><?= $version->editor()->name ?></span>
  </div>
</div>
