body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/*form in modal*/
.modal form {
    margin-bottom: 0;
}

.wiki-title {
    border-bottom: 1px solid #999;
    margin-bottom: 30px;
}
.wiki-content {
    line-height: 1.7em;
}
.wiki-content h2 {
    margin-top: 30px;
    border-bottom: 1px solid #999;
}


.diff-content ins {
    color: green;
    background-color: #C1ECC1;
}
.diff-content del {
    color: red;
    background-color: #FCDDDD;
}
